html{
    background-image: url("Backgrounds/B1.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

body{
    display: flex;
    justify-content: center;
    align-content: space-around;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    flex-flow: column;
    color: white;

}

.MainTime{
    display: flex;
    justify-content: space-around;

}

ul{
    list-style: none;
    margin-right: 30px;
}
.Sites{
    display: flex;
    flex-direction: row;
}