html{
    background-image: url("Backgrounds/B1.jpg");
    background-position: top;
    background-repeat: no-repeat;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    flex-flow: column;
    color: white;

}

.MainTime{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Sites{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

ul{
    list-style: none;
    margin-right: 30px;
}

